.hr-text {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  font-size: 14px;
  height: 1.5em;
  line-height: 1em;
  position: relative;
  text-align: center;
}

.hr-text::before {
  content: "";
  background: linear-gradient(to right, transparent, black, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text::after {
  --tw-bg-opacity: 1;
  background-color: rgb(195 221 253 / var(--tw-bg-opacity));
  color: black;
  content: attr(data-content);
  line-height: 1.5em;
  padding: 0 7px;
  position: relative;
}
